<%- include('header') %>
<div class="result">
    <% if(error){ %>
        <%= error %>
    <% }else{ %>  
        <%= quantidade %> dolares na cotção <%= cotacao %> é igual a: <%= conversao %> reais, papai.
    <% } %>
</div>  
<%- include('footer') %>